[Unit] 
Description=start and stop the otserv 

[Service]
WorkingDirectory=/servers/classicRPG-server/
User=classicRPG
Group=classicRPG
Restart=always
RestartSec=20s
ExecStart=/servers/classicRPG-server/otserv
ExecStop=kill -TERM $(/var/run/otserv.pid)
PIDFile=/var/run/otserv.pid

[Install]
WantedBy=multi-user.target
